Source: python-txjsonrpc
Section: python
Priority: extra
X-Python-Version: >= 2.7
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Build-Depends:
 debhelper (>= 9), python (>= 2.6.6-3~), python-setuptools, dh-python,
 python-twisted-core, python-twisted-web
Standards-Version: 3.9.6

Package: python-txjsonrpc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Suggests: socat
Description: RPC modules (netstring and web, client and server) for Twisted
 This package implements basic client and server support for JSON-RPC
 within the Twisted framework.
 .
 Note that there is no object modelling; this is not a plug-in transport
 for Twisted's Perspective Broker.
